/* Imports */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Niconne&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=satoshi@400,500,700&f[]=dancing-script@700&display=swap');

/* Globals */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    display: flex;
    background-color: var(--gray-e);
  }

:root {
    --gray-1: #111111;
    --gray-2: #222222;
    --gray-3: #333333;
    --gray-4: #444444;
    --gray-5: #555555;
    --gray-6: #666666;
    --gray-7: #777777;
    --gray-8: #888888;
    --gray-9: #999999;
    --gray-a: #aaaaaa;
    --gray-b: #bbbbbb;
    --gray-c: #cccccc;
    --gray-d: #dddddd;
    --gray-e: #eeeeee;
}

/* Structure */

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 201px;
    margin-bottom: 25px;
    margin-top: 250px;
    height: 100%;
    width: 100%;
    gap: 25px;
}

.main-section div {
    font-size: 18px;
    font-family: 'Noto Serif', Times, serif;
    color: var(--gray-6);
    line-height: 30px;
    letter-spacing: 1px;
}

.content {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 100px;
    margin-bottom: 100px;
}

.sub-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.sidebar {
    display: flex;
    font-family: 'Baskervville', cursive;
    justify-content: center;
    font-style: italic;
    align-items: center;
    color: var(--gray-7);
    font-size: 18px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--gray-7);
    gap: 10px;
    font-size: 18px;
}

.nav-housing {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.nav button {
    all: unset;
    cursor: pointer;
}

.nav a {
    all: unset;
    cursor: pointer;
}

img {
    border-radius: 10px;
    width: 100%;
}

.layout-x {
    display: flex;
    gap: 10px;
    width: 100%;
    height: auto;
    align-items: stretch;
}

.layout-x > img {
    flex: 1;
    object-fit: cover;
}

.layout-y {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.layout-y img {
    flex: 1;
    object-fit: cover;
}

.side-item {
    display: flex;
    justify-content: space-between;
}

.blog-item {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    text-decoration: none;
}

.icons {
    display: flex;
    gap: 10px;
}

.icons a {
    text-decoration: none;
    color: black;
}

/* Components */

.sidebar-line-x {
    background-color: var(--gray-d);
    min-height: 1px;
    height: 1px;
    max-height: 1px;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.content-line-x {
    background-color: var(--gray-d);
    min-height: 1px;
    height: 1px;
    max-height: 1px;
    width: 100%;
}

.sidebar-line-y {
    background-color: var(--gray-d);
    min-width: 1px;
    width: 1px;
    max-width: 1px;
    height: 100vh;
}

/* Elements */

.title {
    font-size: 40px !important;
    font-family: 'Noto Serif', Times, serif;
    font-weight: 800;
    letter-spacing: 1px;
    color: black !important;
}

.text-dark {
    color: black !important;
}

.icon {
    width: 40px;
    height: 40px;
    aspect-ratio: square;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
}

.text-link {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.button-housing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 250px;;
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--gray-d);
    cursor: pointer;
    text-decoration: none;
}

.button-housing div {
    font-family: 'Satoshi', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: black;
    background-color: white;
}

.button-housing i {
    font-size: 16px;
    color: black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-list {
    display: flex;
    gap: 5px;
}

/* Responsive */

@media only screen and (max-width: 1000px) {
    body {
        flex-direction: column;
    }
    
    .nav {
        display: flex;
        flex-direction: row;
        font-family: cursive;
        justify-content: left;
        align-items: center;
        color: var(--gray-7);
        gap: 15px;
        font-size: 18px;
        padding: 25px;
        width: 100%;
    }

    .sidebar-line-x {
        background-color: var(--gray-d);
        min-height: 1px;
        height: 1px;
        max-height: 1px;
        width: 100%;
        margin-top: 25px;
        margin-bottom: 25px;
        display: none;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        font-family: cursive;
        justify-content: left;
        align-items: center;
        color: var(--gray-7);
        gap: 0;
        font-size: 18px;
        height: 75px;
        position: relative;
        width: 100%;
        left: 0;
        top: 0;
    }

    .sidebar-line-y {
        background-color: var(--gray-d);
        min-height: 1px;
        height: 1px;
        max-height: 1px;
        min-width: 100%;
    }

    .main-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-top: 50px;
        padding: 25px;
        height: 100%;
        width: 100%;
    }
    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 100px;
    }
    .nav-housing {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

