/* Imports */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Niconne&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=satoshi@400&display=swap');

/* Globals */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --gray-1: #111111;
    --gray-2: #222222;
    --gray-3: #333333;
    --gray-4: #444444;
    --gray-5: #555555;
    --gray-6: #666666;
    --gray-7: #777777;
    --gray-8: #888888;
    --gray-9: #999999;
    --gray-a: #aaaaaa;
    --gray-b: #bbbbbb;
    --gray-c: #cccccc;
    --gray-d: #dddddd;
    --gray-e: #eeeeee;
}

/* Structure */

.structure {
    background-color: var(--gray-e);
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    height: 100%;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    padding-top: 250px;
    width: 500px;
    gap: 25px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    font-family: cursive;
    justify-content: center;
    color: var(--gray-7);
    gap: 10px;
    font-size: 18px;
    padding: 75px;
}

/* Components */

.line-x {
    background-color: var(--gray-d);
    min-height: 1px;
    height: 1px;
    max-height: 1px;
    width: 100%;
}

.sidebar-line-x {
    background-color: var(--gray-d);
    min-height: 1px;
    height: 1px;
    max-height: 1px;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.content-line-x {
    background-color: var(--gray-d);
    min-height: 1px;
    height: 1px;
    max-height: 1px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.line-y {
    background-color: var(--gray-d);
    min-width: 1px;
    width: 1px;
    max-width: 1px;
    height: 100%;
}

.sidebar-line-y {
    background-color: var(--gray-d);
    min-width: 1px;
    width: 1px;
    max-width: 1px;
    height: 100%;
    margin-top: 75px;
    margin-bottom: 75px;
}

/* Elements */

.title {
    font-size: 40px;
    font-family: 'Noto Serif', Times, serif;
    font-weight: 800;
    letter-spacing: 1px;
    color: black;
}

.text-dark {
    color: black;
}

.body {
    font-size: 18px;
    font-family: 'Noto Serif', Times, serif;
    color: var(--gray-6);
    line-height: 30px;
    letter-spacing: 1px;
}

.body-dark {
    font-size: 18px;
    font-family: 'Noto Serif', Times, serif;
    color: black;
    line-height: 25px;
    letter-spacing: 1px;
    font-weight: 500;
}

.icon {
    width: 40px;
    height: 40px;
    aspect-ratio: square;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
}

.text-link {
    text-decoration: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

/* Responsive */

@media only screen and (max-width: 1000px) {
    .sidebar-line-x {
        display: none;
    }
    .structure {
        background-color: var(--gray-e);
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .sidebar {
        display: flex;
        flex-direction: row;
        font-family: cursive;
        color: var(--gray-7);
        gap: 10px;
        font-size: 18px;
        padding: 75px;
        width: 100%;
    }
    .sidebar-line-x {
        background-color: var(--gray-d);
        min-width: 1px;
        width: 1px;
        max-width: 1px;
        height: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }
    .sidebar-line-y {
        background-color: var(--gray-d);
        min-width: 1px;
        width: 1px;
        max-width: 1px;
        height: 100%;
        margin-top: 75px;
        margin-bottom: 75px;
        display: none;
    }
    .content {
        display: flex;
        flex-direction: column;
        padding-top: 25px;
        width: 100%;
        gap: 25px;
    }

}

